*{
    padding: 0;
    margin: 0;
    font-family: 'Noto Serif', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Quicksand', sans-serif;
}
.sectionone{
    height: 250vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sectionone .maindiv{
    height: 98%;
    width: 85%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.maindiv .heading{
    height: 3%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    color: #fff;
}
.maindiv .pharmacy{
    height: 16%;
    width: 100%;
    position: relative;
}
.maindiv .lab{
    height: 16%;
    width: 100%;
    position: relative;
}
.maindiv .privatedocs{
    height: 16%;
    width: 100%;
    position: relative;
}
.maindiv .privatenurses{
    height: 16%;
    width: 100%;
    position: relative;
}
.maindiv .hospitals{
    height: 16%;
    width: 100%;
    position: relative;
}
.maindiv .providers{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.maindiv .providers .one{
    height: 100%;
    width: 24%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px #000;
}
.maindiv .providers .two{
    height: 100%;
    width: 24%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px #000;
}
.maindiv .providers .three{
    height: 100%;
    width: 24%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px #000;
}
.maindiv .providers .four{
    height: 100%;
    width: 24%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px #000;
}
.maindiv h2{
    position: absolute;
    left: 40%;
    top: -15%;
}
.maindiv img{
    height: 200px;
    margin-bottom: 5px;
}
.providers a{
    text-decoration: none;
    background-color: blue;
    padding: 7px 10px;
    color: white;
    margin-top: 5px;
    border-radius: 5px;
}